body{background:#ffffff; padding-top:40px; padding-bottom:45px;}
.head{width:100%; height:40px; line-height:40px; background:#e9342a; margin-bottom:5px; padding:0 5px; color:#FFF; box-shadow:0 2px 2px 0 rgba(0,0,0,0.2); position:fixed; z-index:9000; left:0; top:0;}
.head .bn{display:inline-block; height:30px; line-height:30px; padding:0 10px; margin-top:4px; font-size:30px; color:#FFF; text-decoration:none;}
.head .bn.pull-right{position:absolute; right:5px; top:0;}
.head .bn .buy-num{display:inline-block; width:20px; height:20px; line-height:20px; text-align:center; background:#5a475a; font-size:12px; font-family:Arial; position:absolute; right:-3px; top:-3px;}
.head .title{font-size:14pt;display:block;padding-left:10px;font-weight:bolder;margin-right:49px;text-align:center;height:40px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
.head .order{filter:Alpha(opacity=70); background:#000; background:rgba(0, 0, 0, 0.7); position:absolute; z-index:9999; left:0; height:280px; overflow-x:hidden; overflow-y:scroll;}
.head .order li > a{display:block; padding:0 10px; min-width:100px; height:35px; line-height:35px; font-size:16px; color:#FFF; text-decoration:none; border-top:1px #666 solid;}
.head .order li > a i{display:inline-block; width:20px;}
.head .order li > a.smtype{padding-left:15px; font-size:15px;}


.tabs {*zoom: 1;margin-bottom: 0 !important; }
.tabs:before, .tabs:after {content: " ";display: table; }
.tabs:after {clear: both; }
.tabs dd {position: relative;margin-bottom: 0 !important;float: left; }
.tabs dd > a {display: block;background: #efefef;color: #222222;padding: 1rem 2rem;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size: 1rem; }
.tabs dd > a:hover {background: #e1e1e1; }
.tabs dd.active a {background: white; }
.tabs.radius dd:first-child a {border-bottom-left-radius: 3px;border-top-left-radius: 3px; }
.tabs.radius dd:last-child a {border-bottom-right-radius: 3px;border-top-right-radius: 3px; }
.tabs.vertical dd {position: inherit;float: none;display: block;top: auto; }
	
.tabs-content {*zoom: 1;margin-bottom: 1.5rem;width: 100%; }
.tabs-content:before, .tabs-content:after {content: " ";display: table; }
.tabs-content:after {clear: both; }
.tabs-content > .content {display: none;float: left;padding: 0.9375em 0;width: 100%; }
.tabs-content > .content.active {display: block;float: none; }
.tabs-content > .content.contained {padding: 0.9375em; }
.tabs-content.vertical {display: block; }
.tabs-content.vertical > .content {padding: 0 0.9375em; }



.mui-bar-tab {top: 0;display: table;width: 100%;height: 50px;padding: 0;table-layout: fixed;border-top: 0;border-bottom: 0;}
.mui-bar {position: fixed;right: 0;left: 0;z-index: 10;height: 44px;padding-right: 10px;padding-left: 10px;filter:alpha(opacity=50); background:rgba(49, 48, 48, 0.5) none repeat scroll 0 0 !important;border-bottom: 0;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.mui-btn {position: relative;top: 7px;z-index: 20;padding: 6px 12px 7px;margin-top: 0;font-weight: 400;}
.mui-btn-warning {color: #fff;background-color: #f0ad4e;border: 1px solid #f0ad4e;float: right;margin-right: 5px;font-size: 15px;line-height: 21px;}